<div class="row paddedRow">
    <div class="col-sm-11 col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-2">
        <h1>Thank you!</h1>
        <br />
        <p>
            I really appreciate hearing from users what their thoughts are about the site. Any comments that you may have on
            the user experience, the content, bugs, whatever, please send them my way!
        </p>
        <br />
        <br />
        <div class="well">
            <form class="form-horizontal">
                <fieldset>
                    <div class="form-group">
                        <label for="subject" class="col-lg-2 control-label">Subject</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="subject" placeholder="I was thinking..." ng-model="subject">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message" class="col-lg-2 control-label">Message</label>
                        <div class="col-lg-10">
                            <textarea class="form-control" rows="7" id="message" ng-model="message"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-primary" ng-click="submit()">Submit</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>