<div class="row paddedRow">
    <div class="col-md-12 text-center">
        <h1 class="title-text">Write Code. Learn Angular.</h1>
    </div>
</div>
<div class="row paddedRow">
    <div class="col-md-10 col-md-offset-1 text-center siteDescriptionText">
        <p>Learn Angular 1.x with free interactive lessons.</p>
    </div>
</div>
<div class="row paddedRow">
    <div class="col-xs-10 col-sm-12 col-lg-10 col-xs-offset-1 col-sm-offset-0 col-lg-offset-1">
        <div class="row paddedRow">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="/Content/Images/Editor.png" alt="Code editor" class="teaserImage" />
                    </div>
                    <div class="panel-footer teaserFooter">Write code as you go</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="/Content/Images/Run.png" alt="Code running the browser" class="teaserImage" />
                    </div>
                    <div class="panel-footer teaserFooter">Test your results in the browser</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="/Content/Images/ImStuck.png" alt="I'm stuck button" class="teaserImage" />
                    </div>
                    <div class="panel-footer teaserFooter">Get help when you need it</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row megaPaddedRow">
    <div class="col-xs-12 text-center hidden-xs">
        <a class="btn btn-success getStartedButton" href="#!/lessons/the-essentials">Let's get started <i class="getStartedIcon fa fa-arrow-circle-right"></i></a>
    </div>
    <div class="col-xs-12 text-center visible-xs">
        <a class="btn btn-success getStartedButtonXs" href="#!/lessons/the-essentials">Let's get started <i class="getStartedIcon fa fa-arrow-circle-right"></i></a>
    </div>
</div>