<div ng-class="areEditableDocuments() ? 'col-xs-12 col-sm-9 col-lg-10' : 'col-sm-9 col-md-6 col-md-offset-1';">
    <div class="row">
        <div ng-class="areEditableDocuments() ? 'col-xs-12 col-lg-6 instructions' : 'col-xs-12'">
            <div class="row paddedRow">
                <div class="col-xs-12">
                    <h1>{{title}}</h1>
                </div>
            </div>
            <div class="row paddedRow">
                <div class="col-xs-12">
                    <div ng-bind-html="instructions"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-6" ng-show="areEditableDocuments()">
            <hr class="hidden-lg" />
            <div class="row paddedRow">
                <div class="col-xs-12">
                    <div class="h1">
                        <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#runModal" ng-click="run()"><i class="fa fa-play ideIcon"></i>Run</button>
                        <button class="btn btn-sm btn-warning" data-toggle="modal" data-target="#imStuckModal"><i class="fa fa-ambulance ideIcon"></i>I'm Stuck!</button>
                        <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#resetModal"><i class="fa fa-repeat ideIcon"></i>Reset</button>
                    </div>
                </div>
            </div>
            <div class="row paddedRow">
                <div class="col-xs-12">
                    <ul class="nav nav-tabs">
                        <li ng-repeat="document in htmlDocuments" ng-class="{active: $first}"><a href="#{{document.id}}" data-toggle="tab" ng-cloak>{{document.name}}</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane" id="{{document.id}}" ng-repeat="document in htmlDocuments" ng-class="{active: $first}">
                            <div ui-ace="{ mode: 'html' }" ng-model="document.html"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row paddedRow">
                <div class="col-xs-12">
                    <ul class="nav nav-tabs">
                        <li ng-repeat="document in javaScriptDocuments" ng-class="{active: $first}">
                            <a href="#{{document.id}}" data-toggle="tab" ng-cloak>{{document.name}}</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane" id="{{document.id}}" ng-repeat="document in javaScriptDocuments" ng-class="{active: $first}">
                            <div ui-ace="{ mode: 'javascript' }" ng-model="document.javaScript"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>