<div class="modal fade" id="runModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Run</h4>
            </div>
            <div class="modal-body">
                <iframe class="renderFrame"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="imStuckModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
            </div>
            <div class="modal-body">
                <p>All of your modifications will be lost. Do you want us to show you how this lesson is done?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">No, wait!</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="showSolution()">Yup!</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="resetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to reset the code to how it was originally?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">No, wait!</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="resetCode()">Yup!</button>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 lesson-content">
    <div class="row full-height">
        <div class="full-height scrollable" ng-class="areEditableDocuments() ? 'col-xs-12 col-lg-5 col-sm-offset-3 col-lg-offset-2 instructions' : 'col-xs-12 col-sm-7 col-lg-8 col-sm-offset-4 col-lg-offset-3'">
            <div class="row paddedRow">
                <div class="col-xs-12">
                    <h1>{{title}}</h1>
                </div>
            </div>
            <div class="row paddedRow">
                <div class="col-xs-12">
                    <div ng-bind-html="instructions"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-5 full-height" ng-show="areEditableDocuments()">
            <div class="row editor-button-row text-center">
                <div class="col-xs-12">
                    <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#runModal" ng-click="run()"><i class="fa fa-play ideIcon"></i>Run</button>
                    <button class="btn btn-sm btn-warning" data-toggle="modal" data-target="#imStuckModal"><i class="fa fa-ambulance ideIcon"></i>I'm Stuck!</button>
                    <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#resetModal"><i class="fa fa-repeat ideIcon"></i>Reset</button>
                </div>
            </div>
            <div class="row full-height editor-container">
                <div class="col-sm-12 full-height">
                    <div class="row editor-row">
                        <div class="col-xs-12 full-height">
                            <ul class="nav nav-tabs">
                                <li ng-repeat="document in htmlDocuments" ng-class="{active: $first}"><a href="#{{document.id}}" data-toggle="tab" ng-cloak>{{document.name}}</a></li>
                            </ul>
                            <div class="tab-content editor-tab-content full-height">
                                <div class="tab-pane full-height" id="{{document.id}}" ng-repeat="document in htmlDocuments" ng-class="{active: $first}">
                                    <div class="full-height" ui-ace="{ mode: 'html' }" ng-model="document.html"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row editor-row">
                        <div class="col-xs-12 full-height">
                            <ul class="nav nav-tabs">
                                <li class="tabHandle" ng-repeat="document in javaScriptDocuments" ng-class="{active: $first}">
                                    <a data-target="#{{document.id}}" data-toggle="tab" ng-cloak>{{document.name}}</a>
                                </li>
                            </ul>
                            <div class="tab-content editor-tab-content full-height">
                                <div class="tab-pane full-height" id="{{document.id}}" ng-repeat="document in javaScriptDocuments" ng-class="{active: $first}">
                                    <div class="full-height" ui-ace="{ mode: 'javascript' }" ng-model="document.javaScript"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>