.paddedRow {
    margin: 1em 0 1em 0;
}

.renderFrame {
    width: 100%;
}

.ace_editor {
    height: 200px;
}

.lessonElement {
    cursor: pointer;
}

.ideIcon {
    margin-right: 1em;
}

.alphaTag {
    margin-left: 1em;
    font-size: 15px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.panel-title>a {
    cursor: pointer;
}