[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.paddedRow {
    margin: 1em 0 1em 0;
}

.megaPaddedRow {
    margin: 3em 0 3em 0;
}

.renderFrame {
    width: 100%;
}

.ace_editor {
    height: 200px;
}

.lessonElement, .tabHandle, .panel-title > a {
    cursor: pointer;
}

.ideIcon {
    margin-right: 1em;
}

.alphaTag {
    margin-left: 1em;
    font-size: 15px;
}

button.close {
    margin-top: -0.1em !important;
}

.siteTitle {
    font-size: 5em;
}

.getStartedButton {
    font-size: 3em;
    padding-right: 2em;
    padding-left: 2em;
}

.getStartedButtonXs {
    font-size: 2em;
    padding-right: 1em;
    padding-left: 1em;
}

.getStartedIcon {
    margin-left: 1em;
}

.teaserImage {
    max-width: 100%;
    max-height: 100%;
}

.teaserFooter {
    font-style: italic;
}

.siteDescriptionText {
    font-size: 1.5em;
    font-style: italic;
}

.newLessonsAlerts {
    font-size: 1em;
    text-align: center;
}

.container-fluid {
    padding: 0 15px;
}

.navbar {
    z-index: 1;
}

.footer-separator {
    margin-bottom: 13px;
}

/* TODO: Disable the following three classes for mobile devices */
.container-fullscreen {
    padding-top: 70px !important;
    padding-bottom: 70px !important;
    position: absolute;
    height: 100%;
    top: 0;
}

.full-height {
    height: 100%;
}

.scrollable {
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}

.editor-button-row {
    height: 40px;
}

.editor-container {
    padding-bottom: 40px;
}

.editor-row {
    height: 50%;
}

.editor-tab-content {
    padding-bottom: 65px;
}