<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.10.2" targetFramework="net45" />
  <package id="jQuery.Validation" version="1.11.1" targetFramework="net45" />
  <package id="MarkdownSharp" version="1.13.0.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc" version="5.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.Caching" version="2.2.0.0" targetFramework="net451" />
  <package id="SimpleInjector" version="2.4.1" targetFramework="net451" />
  <package id="SimpleInjector.Integration.Web" version="2.4.1" targetFramework="net451" />
  <package id="SimpleInjector.Integration.Web.Mvc" version="2.4.1" targetFramework="net451" />
  <package id="strong.config" version="1.0.1" targetFramework="net451" />
</packages>