@{
    ViewBag.Title = "About";
}

<div class="row paddedRow">
    <div class="col-sm-11 col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-2">
        <h1>Hi there,</h1>
        <br />
        <p>
            Thanks for stopping by! I don't know about you, but I learn best by <em>doing</em>. I wrote this site to try
            to make it easier for people like me to learn AngularJS, which can be daunting to learn if you're just getting
            started.
        </p>
        <p>
            As you can see by the title up there in the top left, this site really is in its infancy, so make no mistake,
            I am well aware that there is a lot of content not covered here. I'm currently in the process of writing the lessons
            and I try to publish them as I go to keep the site as up-to-date as possible. By the same token, I would really,
            really appreciate any feedback concerning the content, layout, UX, whatever! Also if you find any mistakes please
            do tell me about them so I can fix them right away. You can email me at

            <blockquote>[my first name][underscore][my last name][at]hotmail[full stop]com</blockquote>

            my name is in the page footer ;).
        </p>
        <h2>Technical details</h2>
        <p>
            If you are interested in how this site works, you'll be happy to know that all the code is freely available on GitHub
            and licensed under the GPL-3. As a brief overview, the backend is coded in
            <a href="http://www.asp.net/mvc" target="_blank">ASP.NET MVC</a> and all the backend code is done in C#. The frontend is
            coded in <a href="http://www.angularjs.org/" target="_blank">Angular</a> (of course!) with the CSS being handled by
            <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a> with the Yeti theme from
            <a href="http://bootswatch.com/">Bootswatch</a> and icons from
            <a href="http://fortawesome.github.io/Font-Awesome/" target="_blank">Font Awesome</a>. Oh, and those lovely code editors
            are from Mozilla's outstanding <a href="http://ace.c9.io/#nav=about" target="_blank">Ace</a> project, hooked in with some
            help from <a href="http://angular-ui.github.io/" target="_blank">AngularUI</a>. At some point I'll write a more in-depth
            summary of how this site is built on <a href="http://www.levibotelho.com" target="_blank">my blog</a> and post a link here.
        </p>
        <h2>It's a legal matter, baby</h2>
        <p>
            Just to be clear, I am in no way affiliated with Google or the AngularJS team... unfortunately ;). The Angular logo is of
            course property of Google, but as it's published on GitHub in the Angular project which is licenced under the MIT license,
            I assumed that there would be no problem modifying it for use on this site. If someone from Google wants to correct me on
            this then I'll be happy to take it down and replace it with something a bit more unique.
        </p>
        <hr />
        <p>Happy learning!</p>
        <br />
        <br />
        <p>Levi</p>
    </div>
</div>