@using System.Web.Optimization
<!DOCTYPE html>
<html ng-app="angularTutorial">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="fragment" content="!">
    <title>learn-angular.org</title>
    @Styles.Render("~/bundles/styles")
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="~/favicon.ico">
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img src="~/Content/Images/LearnAngular-inverse-small.png" alt="LearnAngular logo" width="106" height="21" /> <span class="alphaTag">(&beta;eta)</span></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#!/lessons">Lessons</a></li>
                    <li><a href="#!/feedback">Feedback</a></li>
                    <li><a href="#!/about">About</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="clearfix"></div>
    <div class="container-fluid container-fullscreen" ng-controller="index">
        <div class="row full-height">
            <div id="Modules" class="col-xs-12 col-sm-3 col-lg-2 panel-group" ng-if="isTableOfContentsAvailable">
                <div class="panel panel-default" ng-repeat="module in tableOfContents">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#Modules" data-target="#{{module.Id}}" ng-cloak>
                                {{module.Title}}
                            </a>
                        </h4>
                    </div>
                    <div id="{{module.Id}}" class="panel-collapse collapse" ng-class="{in: module.Id == selectedLesson.ModuleId}">
                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked">
                                <li class="lessonElement" ng-repeat="lesson in module.Lessons" ng-class="{active: lesson.Id == selectedLesson.Id}"><a href="/#!/lessons/{{lesson.Id}}" ng-cloak>{{lesson.Title}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="full-height" ng-view></div>
        </div>
        <footer class="row footer-hidden">
            <div class="col-xs-12">
                <hr class="footer-separator" />
                <small>By hook or by crook, we will.</small>
            </div>
        </footer>
        <footer class="row">
            <div class="col-xs-12">
                <hr class="footer-separator" />
                <small>
                    The contents of this website are &copy; @DateTime.Now.Year <a href="http://www.levibotelho.com">Levi Botelho</a> under the terms of the <a href="https://github.com/LeviBotelho/angular-tutorial/blob/master/LICENSE.txt">GPL3 license</a>.
                </small>
            </div>
        </footer>
    </div>
    
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="~/Scripts/Services.js"></script>
    <script src="~/Scripts/Controllers.js"></script>
    <script src="~/Scripts/App.js"></script>
    <script src="~/Scripts/ace/ace.js"></script>
    <script src="~/Scripts/ui-ace.js"></script>
    <script src="~/Scripts/GoogleAnalytics.js"></script>
</body>
</html>