@model AngularTutorial.Web.Models.Home.IndexModel

@{
    ViewBag.Title = "Index";
}

<div class="row" ng-controller="IndexController">
    <div id="Modules" class="col-sm-4 col-md-2 panel-group">
        @for (var i = 0; i < Model.Modules.Count(); i++)
        {
            var module = Model.Modules.ElementAt(i);
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#Modules" href="#@module.Id">
                            @module.Title
                        </a>
                    </h4>
                </div>
                <div id="@module.Id" class="panel-collapse collapse @{ if (i == 0) { <text>in</text> } }">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked">
                            @foreach (var step in module.Children)
                            {
                                <li class="stepElement" ng-click="setStep('@step.Id')"><a>@step.Title</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="col-sm-8 col-md-10">
        <div class="row paddedRow">
            <div class="col-xs-12">
                <h1>{{title}}</h1>
            </div>
        </div>
        <div class="row paddedRow">
            <div class="col-xs-12">
                <button class="btn btn-sm btn-success" ng-click="run()"><i class="fa fa-play" style="margin-right: 1em"></i>Run</button>
            </div>
        </div>
        <div class="row paddedRow">
            <div class="col-sm-6">
                <div ui-ace="{ mode: 'html' }" ng-model="html"></div>
            </div>
            <div class="col-sm-6" ng-bind-html="instructions"></div>
        </div>
        <div class="row paddedRow">
            <div class="col-sm-6">
                <div ui-ace="{ mode: 'javascript' }" ng-model="javaScript"></div>
            </div>
            <div class="col-sm-6">
                <iframe class="renderFrame"></iframe>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/IndexController.js"></script>
}