@{
    ViewBag.Title = "Index";
}

<div class="row" ng-controller="index">

    <div class="modal fade" id="runModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Run</h4>
                </div>
                <div class="modal-body">
                    <iframe class="renderFrame"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="imStuckModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
                </div>
                <div class="modal-body">
                    <p>All of your modifications will be lost. Do you want us to show you how this step is done?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No, wait!</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="showSolution()">Yup!</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="resetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to reset the code to how it was originally?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No, wait!</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="resetCode()">Yup!</button>
                </div>
            </div>
        </div>
    </div>

    <div id="Modules" class="col-xs-12 col-sm-3 col-lg-2 panel-group">
        <div class="panel panel-default" ng-repeat="module in tableOfContents">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#Modules" href="#{{module.Id}}">
                        {{module.Title}}
                    </a>
                </h4>
            </div>
            <div id="{{module.Id}}" class="panel-collapse collapse" ng-class="{in: $first}">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="stepElement" ng-repeat="step in module.Children" ng-class="{active: step.Id == id}" ng-click="loadStep(step.Id)"><a>{{step.Title}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div ng-class="areEditableDocuments() ? 'col-xs-12 col-sm-9 col-lg-10' : 'col-sm-9 col-md-6 col-md-offset-1';">
        <div class="row">
            <div ng-class="areEditableDocuments() ? 'col-xs-12 col-lg-6 instructions' : 'col-xs-12'">
                <div class="row paddedRow">
                    <div class="col-xs-12">
                        <h1>{{title}}</h1>
                    </div>
                </div>
                <div class="row paddedRow">
                    <div class="col-xs-12">
                        <div ng-bind-html="instructions"></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-lg-6" ng-show="areEditableDocuments()">
                <div class="row">
                    <div class="col-xs-12" data-spy="affix" data-offset-top="1" data-offset-bottom="90">
                        <hr class="hidden-lg" />
                        <div class="row paddedRow">
                            <div class="col-xs-12">
                                <div class="h1">
                                    <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#runModal" ng-click="run()"><i class="fa fa-play ideIcon"></i>Run</button>
                                    <button class="btn btn-sm btn-warning" data-toggle="modal" data-target="#imStuckModal"><i class="fa fa-ambulance ideIcon"></i>I'm Stuck!</button>
                                    <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#resetModal"><i class="fa fa-repeat ideIcon"></i>Reset</button>
                                </div>
                            </div>
                        </div>
                        <div class="row paddedRow">
                            <div class="col-xs-12">
                                <ul class="nav nav-tabs">
                                    <li ng-repeat="document in htmlDocuments" ng-class="{active: $first}"><a href="#{{document.id}}" data-toggle="tab">{{document.name}}</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane" id="{{document.id}}" ng-repeat="document in htmlDocuments" ng-class="{active: $first}">
                                        <div ui-ace="{ mode: 'html' }" ng-model="document.html"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row paddedRow">
                            <div class="col-xs-12">
                                <ul class="nav nav-tabs">
                                    <li ng-repeat="document in javaScriptDocuments" ng-class="{active: $first}">
                                        <a href="#{{document.id}}" data-toggle="tab">{{document.name}}</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane" id="{{document.id}}" ng-repeat="document in javaScriptDocuments" ng-class="{active: $first}">
                                        <div ui-ace="{ mode: 'javascript' }" ng-model="document.javaScript"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>