@model AngularTutorial.Web.Models.Home.IndexModel

@{
    ViewBag.Title = "Index";
}

<div class="row" ng-controller="IndexController as index">
    <div id="Modules" class="col-sm-4 col-md-2 panel-group">
        @for (var i = 0; i < Model.Modules.Count(); i++)
        {
            var module = Model.Modules.ElementAt(i);
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#Modules" href="#@module.Id">
                            @module.Title
                        </a>
                    </h4>
                </div>
                <div id="@module.Id" class="panel-collapse collapse @{ if (i == 0) { <text>in</text> } }">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked">
                            @foreach (var step in module.Children)
                            {
                                <li><a ng-click="index.setStep('@step.Id')">@step.Title</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="col-sm-8 col-md-10">
        <div class="row paddedRow">
            <div class="col-xs-12">
                <h1>{{index.title}}</h1>
            </div>
        </div>
        <div class="row paddedRow">
            <div class="col-xs-12">
                <button id="Upload" class="btn btn-sm btn-success">Upload to frame</button>
            </div>
        </div>
        <div class="row paddedRow">
            <div class="col-sm-6">
                <pre id="htmlEditor" class="editor"></pre>
            </div>
            <div class="col-sm-6">
                {{index.instructions}}
            </div>
        </div>
        <div class="row paddedRow">
            <div class="col-sm-6">
                <pre id="javascriptEditor" class="editor"></pre>
            </div>
            <div class="col-sm-6">
                <iframe class="renderFrame"></iframe>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/AngularModules/IndexController.js"></script>
    <script>
        var htmlEditor = ace.edit("htmlEditor");
        htmlEditor.setTheme("ace/theme/monokai");
        htmlEditor.getSession().setMode("ace/mode/html");
        var jsEditor = ace.edit("javascriptEditor");
        jsEditor.setTheme("ace/theme/monokai");
        jsEditor.getSession().setMode("ace/mode/javascript");

        document.getElementById("Upload").onclick = function () {
            var doc = window.frames[0].document;
            doc.open();
            doc.write("<html><body>");
            doc.write(htmlEditor.getValue());
            doc.write("<script>");
            doc.write(jsEditor.getValue());
            doc.write("<\/script><\/body><\/html>");
            doc.close();
        };
    </script>
}