@model AngularTutorial.Web.Models.Home.IndexModel

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-sm-4 col-md-2">
        @*@foreach (var moduleName in Model.ModuleNames)
        {
            <button class="btn btn-info btn-lg btn-block">@moduleName</button>
        }*@
    </div>
    <div class="col-sm-8 col-md-10">
        <div class="row paddedRow">
            <div class="col-xs-12">
                <h1>Write some code!</h1>
            </div>
        </div>
        <div class="row paddedRow">
            <div class="col-xs-12">
                <button id="Upload" class="btn btn-sm btn-success">Upload to frame</button>
            </div>
        </div>
        <div class="row paddedRow">
            <div class="col-sm-6">
                <pre id="htmlEditor" class="editor"></pre>
            </div>
            <div class="col-sm-6">
                This is where the instructions will go!
            </div>
        </div>
        <div class="row paddedRow">
            <div class="col-sm-6">
                <pre id="javascriptEditor" class="editor"></pre>
            </div>
            <div class="col-sm-6">
                <iframe class="renderFrame"></iframe>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        s = undefined,
        $.getJSON("/Scripts/lessons.json", function (data) {
            s = data.toString();
        });
        var htmlEditor = ace.edit("htmlEditor");
        htmlEditor.setTheme("ace/theme/monokai");
        htmlEditor.getSession().setMode("ace/mode/html");
        var jsEditor = ace.edit("javascriptEditor");
        jsEditor.setTheme("ace/theme/monokai");
        jsEditor.getSession().setMode("ace/mode/javascript");

        document.getElementById("Upload").onclick = function () {
            var doc = window.frames[0].document;
            doc.open();
            doc.write("<html><body>");
            doc.write(htmlEditor.getValue());
            doc.write("<script>");
            doc.write(jsEditor.getValue());
            doc.write("<\/script><\/body><\/html>");
            doc.close();
        };
    </script>
}